extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3
    .row
      .col-12
        +box-head('Danh sách sản phẩm')
  
    .row
      each item in products  
        .col-4.mb-3
          .product-item 
            .inner-image
              img(src=item.thumbnail,alt=item.title)
            .inner-content
              h3.inner-title
                a(href=`/products/${item.slug}`) #{item.title}
              .inner-price-new #{item.priceNew.toLocaleString("en-US", {style:"currency", currency:"USD"})}$ 
              .inner-price-old #{item.price.toLocaleString("en-US", {style:"currency", currency:"USD"})}$
              .inner-discount -#{item.discountPercentage}%